body {
	font: 15px/1.5 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width: 75%;
	margin: auto;
	overflow: hidden;
}

/* Header */
header {
	margin: 0;
	padding: 10px 0 10px 0;
	background-color: #000711;
	color: white;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul {
	margin: 0;
	padding: 5px 0 0 0;
}

header li {
	float: left;
	display: inline;
	padding: 5px 20px 5px 20px;
}

header li.active a{
	font-weight: bold;
	color: hsl(42, 93%, 51%);
}

header li a:hover {
	color: hsl(42, 93%, 51%);
}

header #branding {
	float: left;
	margin: 0;
	padding-top: 5px;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
}

/* Showcase */
#showcase {
	background: hsl(220, 93%, 6%) url("../images/top_bannerd.png") no-repeat fixed 0 0 / cover ;
  	padding-bottom: 0;
  	position: relative;
  	height: 600px;
}

#showcase:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height: 100%;
	width: 100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

#showcase h1 {
	color: white;
}

/* Team */
#team {
	background: hsl(220, 93%, 6%) url("../images/services_bg.jpg") no-repeat fixed 0 0 / cover ;
  	padding-bottom: 0;
  	position: relative;
  	height: 70%;
}

#team:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

#team h5 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
}

/* News Header*/
#newsh {
	background: hsl(220, 93%, 6%) url("../images/services_bg.jpg") no-repeat fixed 0 0 / cover ;
  	padding-bottom: 0;
  	position: relative;
}

#newsh:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

#newsh h1 {
	font-size: 50px;
	color: hsl(42, 93%, 51%);
	text-align: center;
	vertical-align: center;
	font-weight: bolder;
	margin: 0;
	padding: 30px 0 30px 0;
}

#news {
	padding: 30px 0 30px 0;
}

.newbox {
	border-style: dotted;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	height: 200px;
}

.newbox p {
	margin: 0;
	padding: 5px 0 5px 0;
}

.newbox p.date {
	color: black;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.newbox h3 {
	margin: 0;
	padding: 10px 0 5px 0;
}

.newbox img {
	width: auto;
	height: 70%;
	float: left;
	padding: 0 20px 0 0;
}

.newbox a {
	color: #001028;
	font-weight: bold; 
}

/* Schedule */
#schedule {
	background: hsl(220, 93%, 6%) url("../images/services_bg.jpg") no-repeat fixed 0 0 / cover ;
  	padding-bottom: 0;
  	position: relative;
  	height: 750px;
}

#schedule:after {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	width:100%;
	content:"";
	background:rgba(1, 10, 28, 0.8);	
}

.content {
	color: white;
  	position: relative;
  	z-index: 2;
}

.content h1 {
	color: hsl(42, 93%, 51%);
}

.content b {
	color: hsl(42, 93%, 51%);
}

#team h1 {
	color: white;
}

#team p {
	padding: 0;
}

.members {
	margin: auto;
	vertical-align: center;
	position: relative;
	text-align: center;
}

.team_member {
	width: 30%;
	margin: auto;
	padding: 20px;
	display: inline-block;
}

.team_member img {
	width: 40%;
	height: auto;
}

.team_member h2 {
	color: hsl(42, 93%, 51%);
	padding: 0;
	margin: 0;
}

.team_member h4 {
	color: white;
	padding: 0 0 5px 0;
	margin: 0;
}

/* Showcase text */
.present {
  	position: relative;
  	z-index: 2;
}

.present_img {
  	vertical-align: center;
  	text-align: center;
  	position: relative;
  	z-index: 2;
}

.mySlides {
	margin: auto;
	width: auto;
	height: 220px;
}

.present h1, h5, span, b {
  	font-family: 'Roboto', sans-serif;
}

.present h1 {
	font-size: 35px;
  	font-weight: lighter;
  	color: #fff;
  	line-height:76px;
  	padding-bottom:70px;
  	text-align: center;
}

.present h5 {
  	font-size: 20px;
  	text-align: center;
  	padding-top: 80px;
  	padding-bottom: 50px;
  	font-weight: 100;
  	color: #fff;
}

.present span {
  	color: hsl(37, 99%, 44%);
  	font-weight: 700;
}

.present b {
  	color: hsl(42, 93%, 51%);
  	font-weight: 700;
}

.present p {
	padding-top: 60px;
	text-align: center;
	color: white;
	font-size: 15px;
}

/* Features */
#features {
	padding: 30px 0 30px 0;
}

.featurebox {
	width: 27%;
	margin: auto;
	margin-left: 25px;
	margin-right: 25px;
	overflow: hidden;
	float: left;
	text-align: justify;
	text-justify: inter-word;
	font: 15px/1.5 'Roboto', sans-serif;
}

.featurebox i {
	color: #001028;
	font-size: 50px;
}

.featurebox b {
	color: #001028;
}

.featurebox a {
	color: #001028;
}

/* Schedule Information */
#schedulei {
	padding: 30px 0 30px 0;
}

#schedulei p {
	margin: 0;
	padding: 1px 0 1px 20px;
	text-indent: 3%;
	text-align: justify;
	text-justify: inter-word;
	font-size: 16px;
}

#schedulei h3 {
	margin: 0;
	padding: 5px 0 0 25px;
}

.sport {
	width: 45%;
	padding: 20px;
	float: left;
}

.sport h1 {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.sport h1 i {
	padding-right: 5px;
}

/* About */
#about {
	padding: 30px 0 30px 0;
}

#about p {
	text-indent: 3%;
	text-align: justify;
	text-justify: inter-word;
}

#about h3 {
	margin: 0;
}

#about ul {
	margin: 0;
	padding: 10px 0 0 20px;
	text-decoration: none;
}

#about ul li {
	list-style: none;
	text-decoration: none;
}

#about ul li i {
	padding: 0 10px 0 0;
}

#about ul li a {
	text-decoration: none;
	color: #000711;
	font-weight: bold;
}

/* Footer */
footer {
	background-color: #000711;
	margin: auto;
}

.footer_information {
	padding: 10px 0 10px 0;
	background-color: #000a1c;
	margin: auto;
}

.footer_box {
	overflow: hidden;
	font-weight: 300;
	overflow: hidden;
	float: left;
	padding: 0px 20px 0px 20px;
	margin: auto;
	width: 27%;
	color: white;
}

.footer_box h3 {
	font-size: 16px;
}

.footer_box b {
	font-weight: bold;
	color: #f6b20e;
}

.footer_box p {
	font-weight: lighter;
	font-size: 12px;
}

.footer_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	text-decoration: none;
}

.footer_box ul li {
	margin: 0;
	padding: 0 30px 5px 0;
	list-style: none;
	font-weight: bold;
}

.footer_box ul li a {
	color: white;
	text-decoration: none;
}

.footer_box ul li i {
	padding: 0 5px 0 0;
	color: hsl(42, 93%, 51%);
}

.footer_copyright {
	padding: 10px 0 10px 0;
	color: white;
	text-align: center;
	font-weight: 600;
}

.footer_copyright span {
	color: gray;
}

/* Custom srollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #323232; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e1e1e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #161616; 
}	